/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bg-lilla {
    background-color: #c1a1bc;
}

.logo {
    width: 3.5%;
    border-radius: 10px;
    margin-right: 2%;
}



.login-box {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}


.register-link {
    color: black;
    margin-top: 20px;
    display: block;
}

.register-link a {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

/*sfondo*/
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}


.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.login-box {
    background-color: ffffff;
    margin: 5% 0 0 0;
}

/* Stile di base per i pulsanti */
.btn {
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    border: none;
    transition: background-color 0.3s;
}

/* Stile per il pulsante di login */
.btn-login {
    background-color: #603760;
}

.btn-login:hover {
    background-color: #502750; 
}

/* Stile per il pulsante di registrazione */
.btn-register {
    background-color: #ECD4F4;
}

.btn-register:hover {
    background-color: #DCC4E4;
}

/* Stile per le icone */
.icon {
    color: #C3B1E1; 
}

/* Stile per il pulsante di logout e altri pulsanti secondari */
.btn-logout {
    background-color:#603760;
}

.btn-logout:hover {
    background-color: #502750;
}

.btn-back {
    background-color: #9E9E9E; 
    border: 2px solid #957DAD; 
    color: white; 
}

.btn-back:hover {
    background-color: #B4B4B4; 
    border-color: #A084B0; 
}

.aphorism-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 600px; 
}

.login-background {
    background-image: url('img/background.jpg');
    background-size: cover;
    background-position: center;
}

.create-background {
    min-height: 100vh;
    background-image: url('img/background.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

.profile-background {
    min-height: 100vh;
    background-image: url('img/sfondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-details {
    background-color: #D291BC;
}

.btn-details:hover {
    background-color: #BA5370;
    border-color: #A04360; 
    color: #ecf0f1; 
}

.precision {
    width: 94.5%;
}

.precision-2 {
    width: 79%;
}

.body-class {
    display: flex;
    flex-direction: column;
    min-height: 100vh !important;
}

.container.body-content {
    flex-grow: 1 !important;
}

.posts-background {
    min-height: 100vh;
    background-image: url('Img/BakcgroundUtenti.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



@media (min-width: 768px) {

    .ms-6 {
        margin-left: 2%;
    }
    textarea {
        max-width: 500px;
    }
    .form-control-area {
        width: 117%;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: none;
        margin-top: 6px;
        margin-bottom: 16px;
    }
}


@media (max-width: 767px) {
    .ms-6 {
        margin-left: 1%;
    }
    textarea {
        max-width: 98%;
    }
    .form-control-area {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: none;
        margin-top: 6px;
        margin-bottom: 16px;
    }
}

.post {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.username {
    font-weight: bold;
    margin-bottom: 5px;
}

.posted-at {
    font-size: 0.8rem;
    color: #666;
}

.post-actions {
    display: flex;
    gap: 10px;
}

.edit-icon:before, .delete-icon:before {
    padding: 8px;
    font-size: 1.2rem;
    color: #333;
    cursor: pointer;
}

.edit-icon:hover, .delete-icon:hover {
    color: #007bff;
}

.icon-pro {
   color: #3B185F;
}

.color-wine {
    color: #502750;
}


.profile-section {
    padding: 20px;
    border-radius: 10px;
}

.posts-section {
    padding: 20px;
}

.posts-container {
    height: 500px; 
    overflow-y: auto; 
    padding: 20px;
}

.post {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #eee; 
    border-radius: 10px;
}

.post:last-child {
    margin-bottom: 0;
}

/*  scrollbar */
::-webkit-scrollbar {
    width: 0px; 
}

.comments-background {
    min-height: 100vh;
    background-image: url('img/commentbackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.reports-background {
    min-height: 100vh;
    background-image: url('img/backgroundreports.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.custom-file-upload {
    position: relative;
    cursor: pointer;
}

.file-upload-container {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 4px;
}



.sponsor-background {
    min-height: 100vh;
    background-image: url('img/sponsorbakcground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.description-column {
    max-width: 100px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*Aformismi input movimento*/
/*@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.aphorism-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 600px;
}*/

    /* Applica l'animazione al testo all'interno del container */
    /*.aphorism-container span {
        display: inline-block;
        animation: scrollText 10s linear infinite;
    }*/

.comment-form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

    .comment-form textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 10px;
        resize: none; /* Impedisce all'utente di ridimensionare la textarea */
        height: 100px; /* Fissa l'altezza della textarea */
    }

    .comment-form button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        margin-right: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 4px;
        cursor: pointer;
    }

        .comment-form button:hover {
            background-color: #0056b3;
        }

    .comment-form .cancel-comment {
        background-color: #6c757d; /* Colore per il pulsante Annulla */
    }

        .comment-form .cancel-comment:hover {
            background-color: #5a6268;
        }