@model Whisper.Models.Aphorisms

@{
    ViewBag.Title = "Delete";
}

<div class="bg-warning p-2 rounded rounded-2 w-75 text-3d">
    <span>@Html.Partial("_aphorism")</span>
</div>

<div class="login-container">
    <div class="login-box">
        <p class="alert alert-danger">Sei sicuro di voler eliminare questo aforisma? Questa azione è irreversibile.</p>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    <label class="fw-bold color-wine">Frase</label>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Frase)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Elimina Aforisma" class="btn btn-sm btn-danger text-white" />
            @Html.ActionLink("Annulla", "Index", null, new { @class = "btn btn-sm btn-back ms-2 text-white" })
        </div>
            }
        </div>
        </div>
</div>