@model IEnumerable<Whisper.Models.Avatars>

@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("👽 Aggiungi Avatar", "Create", "Avatars", new { @class = "btn btn-sm text-dark text-shadow fw-bold btn-warning ms-3 my-5" })

<div class="container text-shadow m-auto" style="max-height:90vh; overflow-y: auto;">
    <div class="row justify-content-center">
        @foreach (var avatar in Model)
        {
            if (avatar.AvatarId != 20)
            {
                <div class="col-12 col-sm-12 col-md-4 col-lg-3 mb-3 d-flex">
                    <div class="card cont-3d m-auto" style="width: 18rem;">
                        <img src="@Url.Content(avatar.Foto)" class="card-img-top avatar-img m-auto mt-4" alt="Avatar">
                        <div class="card-body">
                            <h5 class="card-text">Avatar numero @avatar.AvatarId.</h5>
                            @Html.ActionLink("Delete", "Delete", new { id = avatar.AvatarId }, new { @class = "btn btn-danger text-shadow" })
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
