@model IEnumerable<Whisper.Models.Avatars>

@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("👽 Aggiungi Avatar", "Create", "Avatars", new { @class = "btn btn-sm text-white btn-login my-5" })

<div class="container" style="max-height: 90vh; overflow-y: auto;">
    <div class="row">
        @foreach (var avatar in Model)
        {
            <div class="col-sm-6 col-md-4 col-lg-3 mb-5 row scrollable-row">
                <div class="card" style="width: 18rem;">
                    <img src="@Url.Content(avatar.Foto)" class="card-img-top" alt="Avatar">
                    <div class="card-body">
                        <h5 class="card-text">Avatar numero @avatar.AvatarId.</h5>
                        @Html.ActionLink("Delete", "Delete", new { id = avatar.AvatarId }, new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>